
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');


body {
    background-color: rgb(219, 218, 218);
}



/* MAIN */

h1 {
    font-family: "baskervville";

    font-weight: 900px;

    font-size: 40px;
    
    text-align: center;
    
    margin-bottom: 0px;

}

#pb {
  text-decoration: none;
  
  color: white;

  margin-left: 10px;

  margin-right: 10px;

  padding: 1px;

  background-color: black;

  border: 5px solid black;

  border-radius: 6px;
}

#ab {
  text-decoration: none;
  
  color: white;

  margin-left: 10px;

  margin-right: 10px;

  padding: 1px;

  background-color: black;

  border: 5px solid black;

  border-radius: 6px;
}

#rb {
  text-decoration: none;
  
  color: white;

  margin-left: 10px;

  margin-right: 10px;

  padding: 1px;

  background-color: black;

  border: 5px solid black;

  border-radius: 6px;


}

#tb {
  text-decoration: none;
  
  color: white;

  margin-left: 10px;

  margin-right: 10px;

  padding: 1px;

  background-color: black;

  border: 5px solid black;

  border-radius: 6px;
}

#bar {
  display: flex;

  position: sticky;

  color: black;

  height: 34px;

  margin-bottom: 15px;

  border: 2px solid black;  

  border-radius: 7px;

  background-color: rgba(124, 97, 28, 0.695);

  justify-content: space-evenly;

  align-items: center;

  top: 0%;

  z-index: 1;

  
}

h4 {
  margin: 15px;
  margin-bottom: 5px;
}
  

i {
  color: rgba(124, 97, 28, 0.695);
}

h4 {
    font-size: 20px;
    
    text-align: center;
    padding-top: 0px;
    
    border-bottom: 5px solid black;
    border-radius: 500px;
    
}

.background {
  
  width: 100%;
  height: 100%;
  position: absolute;
  top: 178px;
  left: 0;
  background-size: cover;
  background-position: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom: 5px solid rgba(124, 97, 28, 0.695);
    border-top: 5px solid rgba(124, 97, 28, 0.695);
}
#cover {
    width: 100%;
    height: 101%;
    position: absolute;
    top: 178px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }


  a {
    text-decoration: none;
  }

  #listhead {
    position: relative;
    text-align: center;
    padding: 50px;
    top: 93vh;

  }

  #listhead > h1 {
    
    letter-spacing: 5px;
  }

  i {
    font-size: 48px;
    margin: 0 5px;
    
  } 

  #box1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: 5px solid rgba(124, 97, 28, 0.695);
    border-radius: 50px;
  }

  #box1 > p {
    width: 400px;
    height: 100px;
    font-size: 20px;
  }

  #box1 > i {
    font-size: 200px;
  }

  #box2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: black;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: 5px solid rgba(124, 97, 28, 0.695);
    border-radius: 50px;
  }

  #box2 > p {
    width: 400px;
    height: 100px;
    font-size: 20px;
  }

  #box2 > i {
    font-size: 200px;
  }

  #box3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: black;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: 5px solid rgba(124, 97, 28, 0.695);
    border-radius: 50px;
  }

  #box3 > p {
    width: 400px;
    height: 100px;
    font-size: 20px;
  }

  #box3 > i {
    font-size: 200px;
  }

  #end {
    margin-top: 800px;
    background-color: black;
    border: 10PX SOLID black;
    text-align: center;
    border-radius: 50px;
  }

  #disclamer {
    color: white;
    border: 5px solid rgba(124, 97, 28, 0.695);
    border-radius: 50px;
  }

  #h{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-size: 20px;
  }
  