

body {
    background-color: rgb(219, 218, 218);
}



/* MAIN */

h1 {
    font-size: 40px;
    
    text-align: center;
    
    margin-bottom: 0px;
}

h4 {
    font-size: 20px;
    
    text-align: center;
    padding-top: 0px;
    
    border-bottom: 5px solid rgba(15, 15, 14, 0.605);
    
}

.background {
  
  width: 100%;
  height: 100%;
  position: absolute;
  top: 178px;
  left: 0;
  background-size: cover;
  background-position: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom: 5px solid rgba(124, 97, 28, 0.695);
    border-top: 5px solid rgba(124, 97, 28, 0.695);
}
#cover {
    width: 100%;
    height: 101%;
    position: absolute;
    top: 178px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }


  /* #button { */
    /* font-family: "Rubik 80s Fade", serif; */
    /* border: 3px solid rgba(124, 97, 28, 0.605); */
    /* padding: 10px 30px; */
    /* margin-top: 0px; */
    /* color: rgb(255, 155, 100); */
    /* font-size: 20px; */
    /* opacity: 0.8; */
    /* border-radius: 10px; */
    /* position: relative; */
    /* bottom: 140px; */
    /* left: 20px; */
  /* } */

  a {
    text-decoration: none;
  }

  #listhead {
    position: relative;
    text-align: center;
    padding: 50px;
    top: 93vh;
  }

  #listhead > h1 {
    
    letter-spacing: 5px;
  }

  #box1 {
    background-color: black;
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 420px;
    color: white;
  }

  #box2 {
    
    background-color: black;
    width: 500px;
    height: 500px;
    margin-left: 420px;
    color: white;
  }

  #box3 {
    
    background-color: black;
    width: 500px;
    height: 500px;
    margin-left: 420px;
    color: white;
  }

  #end {
    margin-top: 800px;
  }

  #h{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-size: 20px;
  }
  i {
    font-size: 48px;
    margin: 0 5px;
    
  } 